<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="">

    <div class="container" role="main">

        <div class ="jumbotron" style="margin: 1rem; padding: 2rem 2rem">
          <div class="page-header" style="padding-bottom: 2rem">
            <h5 class="title" id="exampleModalLongTitle">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h5>
         
          </div>
          
            
                <div class="col-xs-9">
                    <div style="border: 1px solid #e5e5e5; height:78vh; overflow: auto; padding: 10px;">
                        <p>
                            <em>1. </em>
                            <em>ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ</em>
                        </p>
                        <p>
                            <em>Согласие</em>
                            – настоящее согласие Пользователя Сайта на обработку персональных данных.
                        </p>
                        <p>
                            <em>Оператор</em>
                            - федеральное государственное автономное образовательное учреждение высшего
                            образования «Санкт-Петербургский национальный исследовательский университет
                            информационных технологий, механики и оптики», расположенное по адресу:
                        199034, г. Санкт-Петербург, Биржевая линия, д. 14, лит. А ОГРН    <a name="огрн">1027806868154</a>, ИНН 7813045547.
                        </p>
                        <p>
                            <em>Сайт</em>
                            – сайт, расположенный по адресу в сети «Интернет» http://imprecity.ru
                        </p>
                        <p>
                            <em>Пользователь Сайта</em>
                            – субъект персональных данных или (в случае недееспособности субъекта
                            персональных данных) его законный представитель, предоставляющие Оператору
                            посредством совершения ряда действий технического характера в
                            соответствующей части графического пользовательского интерфейса Сайта свои
                            персональные данные или персональные данные представляемого лица
                            соответственно.
                        </p>
                        <p>
                            <em>Запрос</em>
                            – адресованное Оператору поручение Пользователя Сайта, направляемое
                            посредством совершения Пользователем Сайта ряда действий технического
                            характера в соответствующей части графического пользовательского интерфейса
                            Сайта.
                        </p>
                        <p>
                            Нераскрытые в настоящем разделе согласия субъекта на обработку его
                            персональных данных термины следует понимать в значении, установленном для
                            них Федеральным законом от 27.07.2006 N 152-ФЗ "О персональных данных".
                        </p>
                        <p>
                            <em>2. </em>
                            <em>УСЛОВИЯ, НА КОТОРЫХ ПОЛЬЗОВАТЕЛЕМ САЙТА ПРЕДОСТАВЛЯЕТСЯ СОГЛАСИЕ</em>
                        </p>
                        <p>
                            Настоящим Пользователь Сайта, отправивший посредством графического
                            пользовательского интерфейса Сайта форму, в рамках которой им
                            предоставляются
                            <br/>
                            какие-либо персональные данные, свободно, своей волей и в своём интересе
                            предоставляет Оператору конкретное, информированное и сознательное Согласие
                            на нижеуказанных условиях:
                        </p>
                        <p>
                            <strong>Цель обработки персональных данных:</strong>
                            исполнение Оператором Запроса, в рамках которого Пользователем Сайта
                            предоставляются персональные данные.
                        </p>
                        <p>
                            <strong>
                                Перечень персональных данных, на обработку которых дается Согласие:
                            </strong>
                            Согласие предоставлено Пользователем Сайта Оператору на обработку тех
                            персональных данных, которые предоставлены им при заполнении полей Запроса.
                        </p>
                        <p>
                            <strong>
                                Перечень действий с персональными данными, на совершение которых дается
                                Согласие:
                            </strong>
                            сбор, запись, систематизация, накопление, хранение, уточнение (обновление,
                            изменение), извлечение, использование, обезличивание, блокирование,
                            удаление, уничтожение персональных данных.<strong></strong>
                        </p>
                        <p>
                            <strong>
                                Общее описание используемых Оператором способов обработки персональных
                                данных:
                            </strong>
                            неавтоматизированная обработка персональных данных, автоматизированная
                            обработка персональных данных, в том числе с передачей и без передачи по
                        сети «Интернет»,<strong> </strong>смешанная обработка персональных данных.    <strong></strong>
                        </p>
                        <p>
                            <em>3. </em>
                            <em>ПОРЯДОК ОТЗЫВА СОГЛАСИЯ</em>
                        </p>
                        <p>
                            Согласие может быть отозвано в любой момент путем направления Пользователем
                            Сайта соответствующего заявления Оператору на адрес электронного почтового
                            ящика: admin@imprecity.ru . Cогласие считается отозванным в течение 7
                            (семи) рабочих дней с даты поступления Оператору указанного заявления.
                        </p>
                        <p>
                            <em>4. </em>
                            <em>ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</em>
                        </p>
                        <p>
                            Настоящим Пользователь Сайта подтверждает, что:
                        </p>
                        <p>
                            - он является субъектом предоставленных Оператору персональных данных, а в
                            случае, если субъект предоставленных Оператору персональных данных не
                            является дееспособным лицом – что он является законным представителем
                            субъекта персональных данных;
                        </p>
                        <p>
                            - он ознакомлен с правами и обязанностями субъекта персональных данных,
                            предоставленными ему в соответствии с Федеральным законом от 27.07.2006 N
                            152-ФЗ "О персональных данных", а также с
                            <a>
                                <em>
                                    <u>
                                        <a href='/politics'>Политикой организации в отношении обработки персональных данных</a>
                                    </u>
                                </em>
                            </a>
                        </p>
                        <p>&nbsp;</p> 
                    </div>
                  </div>
                </div>
              

              <!--
              <div class="form-group">
                  <div class="col-xs-6 col-xs-offset-3">
                      <div class="checkbox" style="padding-left: 15px;">
                          <label>
                              <input type="checkbox" value="" name="agree"/> Agree with the terms and conditions
                          </label>
                          
                      </div>
                  </div>
              </div>

              <div class="form-group">
                  <div class="col-xs-9 col-xs-offset-3" style="padding-left: 15px;">
                      <button  type="submit" class="btn btn-primary" name="signup" value="Sign up">Submit</button>
                  </div>
              </div>
            -->
            
        <div>
    </div>


</body>
</html>
